/* CSS Document */
#blog-header {
    padding-bottom : 0;
}

#blog-header ul {
    margin-left  : auto;
    margin-right : auto;
    text-align : center;
}

#blog-header ul li {
    display : inline;
    padding-right : 1em;
    margin-left : 1em;
}

#blog-header ul li:before {
    content : none;
}