/* This is needed to make the header not create a horizontal scroll bar. */
#top {
    position : relative;
    width : 100%;
    overflow : hidden;
}

/* CSS for the banner on top of each page. */
#header {
    font-size : 65px;
    height : 75px;
}

/* This is just to center the header. */
#header > div {
    margin-left : auto;
    margin-right : auto;
}

/* This is the rectangle that is behind the header's banner. */
#headerBackground {
    background-color : #B3C8E5;
    height : 50px;
    z-index : -1;
    margin-top : 28pt;
    margin-left : 36.3%;
}

#header span {
    position : relative;
    font-family : Aller, Verdana, sans-serif;
    /* font-family : Verdana, sans-serif; */
    color : #0B4FAA;
}

#header .big {
    margin-left : -2px;
    top : -18px;
    color : #053d89;
    font-size : 90px;
}

#header #tikhon {
    top : -42px;
    margin-right : -15px;
}

#header #jelvis {
    top : -26px;
    left : -3px;
}