/* This is needed to make the header not create a horizontal scroll bar. */
#top {
    position : relative;
    width : 100%;
    overflow : hidden;
}

/* CSS for the banner on top of each page. */
#header {
    font-size : 65px;
    height : 75px;
}

@media (min-width : 400px) and (max-width : 605px) {
  #header {
    font-size : 42px;
    height : 52px;
  }
}

@media (max-width : 400px) {
  #header {
    font-size : 30px;
    height : 40px;
  }
}

/* This is just to center the header. */
#header > div {
    margin-left : auto;
    margin-right : auto;
}

/* This is the rectangle that is behind the header's banner. */
#headerBackground {
    background-color : #B3C8E5;
    height : 50px;
    z-index : -1;
    margin-top : 28pt;
    margin-left : 36.3%;
}

@media (min-width : 400px) and (max-width : 600px) {
  #headerBackground {
    height : 32px;
  }
}

@media (max-width : 400px) {
  #headerBackground {
    height : 22px;
  }
}

#header span {
    position : relative;
    font-family : Aller, Verdana, sans-serif;
    /* font-family : Verdana, sans-serif; */
    color : #0B4FAA;
}

#header .big {
    margin-left : -2px;
    top : -18px;
    color : #053d89;
    font-size : 90px;
}

@media (min-width : 400px) and (max-width : 600px) {
  #header .big {
    font-size : 58px;
    top : -12px;
    margin-left : 0px;
  }
}

@media (max-width : 400px) {
  #header .big {
    font-size : 42px;
    top : -7px;
    margin-left : 0px;
  }

  #header #tikhon + .big {
    margin-left : 6px;
  }
}

#header #tikhon {
    top : -42px;
    margin-right : -15px;
}

@media (min-width : 400px) and (max-width : 600px) {
  #header #tikhon {
    top : -26px;
  }
}

@media (max-width : 400px) {
  #header #tikhon {
    top : -18px;
  }
}

#header #jelvis {
    top : -26px;
    left : -3px;
}

@media (min-width : 400px) and (max-width : 600px) {
  #header #jelvis {
    top : -17px;
    left : -1px;
  }
}

@media (max-width : 400px) {
  #header #jelvis {
    top : -12px;
    left : -1px;
  }
}