/* CSS document */

ul.languages {
    position : relative;
    margin-bottom : -30px;
    list-style : none;
    height : 150px;
}

ul.languages li {
    width : 55px;
    float : left;
    margin : 2px;
}

ul.languages li img {
    width : 100%;
}

li.ocaml {
    position : relative;
    top : 14px;
}