/* This, naturally, applies to the whole page. */
body {
    color : black; 
    padding : 0;
    margin : 0;
}

a {
    text-decoration : none;
}

a > img {
    border-style : none;
}

/* CONTENT */

/* This div has the actual content of the site in it. */
.content {
    position : relative;
    width : 70%;
    max-width : 60em;

    color : black;
    background-color : #90A9CB;

    font-family : Garamond, "Palatino Linotype", "Book Antiqua", Palatino, serif;

    margin-top : 4pt;
    margin-left : auto;
    margin-right : auto;

    padding-bottom : 4pt;
    padding-top : 4pt;
    padding-left : 0.5em;
}

/* This is the general style for all headers: */
.content h1, .content h2, .content h3 {
    text-align : center;
    color : #0b4faa;
    font-weight : normal;
    font-family : Aller, Verdana, Arial, Helvetica, sans-serif;
}

.content h1:first-letter, .content h2:first-letter, .content h3:first-letter {
   color : #053d89;
}

.content h1 a, .content h1 a:visited, .content h1 a:link {
    color : #0B4FAA;
}

.content h1 a:active, .content h1 a:hover {
    color : #0D6FCA;
    text-decoration : underline;
}

/* All of the large groups of text should be in p tags. */
.content p, .content ul, .content ol {
    color : black;
    margin-left : 12%;
    margin-right : 12%;
    text-align : justify;
    font-size : 14pt;
    line-height : 1.3em;
}

/* This is the div that holds images and their captions. */
.content div.figure {
    position : relative;
    left : -2px;
    max-width : 75%;
    overflow : hidden;
    background-color : #8099BB;
    margin-left : 12.5%;
    text-align : center;
}

.content div.figure a {
    border : none;
}

.content div.figure img {
    position : relative;
    max-width : 90%;
    margin-top : 1ex;
}

.content div.figure p {
    position : relative;
    margin-left : 10%;
    margin-right : 10%;
}

/* Special kinds of text: code, ui elements...etc */
.content .uiElement {
    font-family : lucida console, monospace;
}

.content code, .content pre {
    font-family : "DejaVu Sans Mono", lucida console, monospace;
    background : #8099BB;
    font-size : 15px;
}

.content code {
    padding : 1px 6px;
    border-radius : 6px;
}

.content pre {
    margin : 0 14%;
    padding : 10px 4px;
}

.projects ul {
    list-style : none;
}
