/* CSS Document */

/* Color Scheme
 *
 * background:   #B3C8E5
 * lighter:      #CADBF2
 * much lighter: #D5E1F2
 * darker:       #90A9CB
 * h1:           #0B4FAA
 * h2:           #053d89
 */

/* This, naturally, applies to the whole page. */
body {
    color   : black; 
    padding : 0;
    margin  : 0;

    -moz-font-feature-settings    : "liga";
    -ms-font-feature-settings     : "liga";
    -webkit-font-feature-settings : "liga";
    -o-font-feature-settings      : "liga";
    font-feature-settings         : "liga";
}

a {
    text-decoration : none;
}

a > img {
    border-style : none;
}

.hide-control {
    /* font-family : "DejaVu Sans Mono", lucida console, monospace; */
    font-family : lucida console, monospace;
    font-size : 2ex;
}

/* CONTENT */

/* This div has the actual content of the site in it. */
.content {
    position : relative;
    width : 70%;
    max-width : 60em;

    color : black;
    background-color : #B3C8E5;

    font-family : Junction, Helvetica, Arial, sans-serif;
    /* font-family : Helvetica, Arial, sans-serif; */

    margin-top : 4pt;
    margin-left : auto;
    margin-right : auto;

    padding-bottom : 30px;
    padding-top : 4pt;
    padding-left : 0.5em;
}

/* Header sizes */
.content h1 {
    font-size : 28pt;
}

.content h2 {
    font-size : 20pt;
}

.content h3 {
    font-size : 16pt;
}

/* This is the general style for all headers: */
.content h1, .content h2, .content h3 {
    text-align : center;
    color : #0B4FAA;
    font-weight : normal;
    font-family : Aller, Verdana, Arial, Helvetica, sans-serif;
    /* font-family : Verdana, Arial, Helvetica, sans-serif; */
    margin-top : 15px;
    margin-bottom : 15px;
}

.content h1:first-letter, .content h2:first-letter, .content h3:first-letter {
   color : #053d89;
}

.content h1 a, .content h1 a:visited, .content h1 a:link {
    color : #0B4FAA;
}

.content h1 a:active, .content h1 a:hover {
    color : #0D6FCA;
    text-decoration : underline;
}

.content p, .content ul, .content dl, .content ol, .content td {
    color : black;
}

/* All of the large groups of text should be in p tags. */
.content p, .content ul, .content ol, .content dl {
    margin-left : 12%;
    margin-right : 12%;
    text-align : justify;
    word-wrap : break-word;
    font-size : 13pt;
    line-height : 2.75ex;
}

.content p {
    margin-top : 20px;
    margin-bottom : 8px;
}

.content p +  p {
    text-indent : 1.5em;
    margin-top : -1ex;
}

.content strong {
    font-weight : bold;
}

.content em {
    font-style : italic;
}

/* This is the div that holds images and their captions. */
.content div.figure {
    position : relative;
    left : -2px;

    background-color : #CADBF2;

    margin-left : 12.5%;
    text-align : center;
    max-width : 75%;
    overflow : hidden;

    margin-top : 10px;
    padding-top : 20px;
    padding-bottom : 20px;
}

.content div.figure a {
    border : none;
}

.content div.figure img {
    position : relative;
    max-width : 90%;
    margin-top : 1ex;
}

.content div.figure p {
    position : relative;
    margin-left : 10%;
    margin-right : 10%;
}

.content div.figure code {
    background-color : #B3C8E5;
}

/* A div for special announcements: */
.content div.announcement {
    position : relative;
    left : -2px;
    z-index : 1;
    
    background-color : #CADBF2;

    margin-left : 12.5%;
    max-width : 75%;
    overflow : hidden;

    padding-bottom : 20px;
}

.content div.announcement:before {
    content : "news";

    position : absolute;
    left : -14px;
    top : -55px;
    z-index : -1;

    font-family : Aller, Verdana, Arial, Helvetica, sans-serif;
    /* font-family : Verdana, Arial, Helvetica, sans-serif; */
    font-weight : bold;
    font-size : 600%;

    color : #B3C8E5;
}

.content div.announcement ul, .content ul, .content ol {
    margin-left : 17%;
    list-style : none;
}

.content div.announcement ul li:before, .content ul li:before {
    content : "■";

    position : relative;
    bottom : 2px;

    color : #053d89;
    font-size : 60%;
}
    
/* Special kinds of text: code, ui elements...etc */
.content .uiElement {
    font-family : "DejaVu Sans Mono", lucida console, monospace;
    /* font-family : lucida console, monospace; */
}

.content code, .content pre, .content .code {
    font-family : "DejaVu Sans Mono", lucida console, monospace;
    /* font-family : lucida console, monospace; */
    background : #CADBF2;
    font-size : 15px;
}

.content code, .content .code {
    padding : 1px 6px;
    border-radius : 6px;
}

.content pre {
    margin : 20px 12.5%;
    padding : 20px;
    line-height : 2.25ex;
}

.content pre code {
    padding : 0;
}

.content dl {
    margin-top : 20px;
}

.content dt {
    font-family : Aller, Verdana, Arial, Helvetica, sans-serif;
    /* font-family : Verdana, Arial, Helvetica, sans-serif; */
    margin-top : 10px;
    margin-left : 1em;
}

.content dd p {
    margin : 0 5%;
}