/* CSS document */

@import url(http://fonts.googleapis.com/css?family=Megrim);

/* GENERAL */

/* This, naturally, applies to the whole page. */
body {
    color : black; 
    padding : 0;
    margin : 0;
}

a {
    text-decoration : none;
}

a > img {
    border-style : none;
}

/* TOP */

/* This is needed to make the header not create a horizontal scroll bar. */
#top {
    position : relative;
    width : 100%;
    overflow : hidden;
}

/* HEADER */

/* This is the title on top of every page. */
#header {
    font-size : 64pt;
    height : 100px;
}

/* This is just to center the header. */
#header > div {
    margin-left : auto;
    margin-right : auto;
    width : 6.9em;
}

/* This is the rectangle that is behind the header's banner. */
#headerBackground {
    position : absolute;
    background-color : #90A9CB;
    height : 75px;
    top : 28pt;
    width : 100%;
    z-index : -1;
}

#headerBackground > img {
    position : absolute;
    top : -19px;
}

/* NAVIGATION */

/* This div contains the list that serves as the navigation menu. */
#navigation {
    position : relative;
    height : 24pt;
    margin-top : 30pt;
}

/* This div makes the background of the navigation menu. */
#navigation > div {
    position : relative;
    height : 70%;
    margin-left : 0;
    width : 55%;
    min-width : 29em;
    background-color : #90A9CB;
}

/* This list is the actual navigation menu--each item is a link. */
#navigation ul {
    margin-right : 7px;
    top : 2px;
    margin-bottom : -20px;
    float : right;
}

.navigation ul {
    position : relative;
    list-style : none;
}

/* This controls the individual navigation items. It is best to only have one
   word in each navigation item. */
.navigation li {
    position : relative;
    top : -22px;
    display : block;
    float : left;
    margin-left : 0.5em;
    margin-bottom : 2px;
    padding-left : 2px;
    border-left : 3px solid #0B4FAA;
    font-size : 20pt;
    font-family : Verdana, Arial, Helvetica, sans-serif;
}

.navigation li a:hover {
    color : #053d89;
}

.navigation a {
    text-decoration : none;
    color : #0b4faa;
}

.navigation span.tpl a {
    position : relative;
    top : -2px;
    font-weight : 900;
    font-family : megrim, Verdana, Arial, Helvetica, sans-serif;
    font-size : 21pt;
}

/* CONTENT */

/* This div has the actual content of the site in it. */
.content {
    position : relative;
    width : 70%;
    max-width : 60em;

    color : black;
    background-color : #90A9CB;

    font-family : "Palatino Linotype", "Book Antiqua", Palatino, serif;

    margin-top : 4pt;
    margin-left : auto;
    margin-right : auto;

    padding-bottom : 4pt;
    padding-top : 4pt;
    padding-left : 0.5em;
}

/* This is the general style for all headers: */
.content h1, .content h2, .content h3 {
    text-align : center;
    color : #0b4faa;
    font-weight : normal;
    font-family : Verdana, Arial, Helvetica, sans-serif;
}

.content h1:first-letter, .content h2:first-letter, .content h3:first-letter {
   color : #053d89;
}

.content h1 a, .content h1 a:visited, .content h1 a:link {
    color : #0B4FAA;
}

.content h1 a:active, .content h1 a:hover {
    color : #0D6FCA;
    text-decoration : underline;
}

/* All of the large groups of text should be in p tags. */
.content p, .content ul, .content ol {
    color : black;
    margin-left : 12%;
    margin-right : 12%;
    text-align : justify;
    font-size : 14pt;
    line-height : 1.3em;
}

/* This is the div that holds images and their captions. */
.content div.figure {
    position : relative;
    left : -2px;
    max-width : 75%;
    overflow : hidden;
    background-color : #8099BB;
    margin-left : 12.5%;
    text-align : center;
}

.content div.figure a {
    border : none;
}

.content div.figure img {
    position : relative;
    max-width : 90%;
    margin-top : 1ex;
}

.content div.figure p {
    position : relative;
    margin-left : 10%;
    margin-right : 10%;
}

/* Special kinds of text: code, ui elements...etc */
.content .uiElement {
    font-family : lucida console, monospace;
}

.content code {
    font-family : lucida console, monospace;
    background : #8099BB;
    font-size : 15px;
    padding : 1px 6px;
    border-radius : 6px;
}

.content pre {
    background : #8099BB;
    margin : 0 14%;
    padding : 10px 4px;
    border-radius : 6px;
    font-size : 15px;
}

.projects ul {
    list-style : none;
}

/* This is the div at the very bottom of the page. */
#footer {
    color : black;
    margin-top : 4pt;
    padding-top : 2pt;
    padding-bottom : 2pt;
}

/* This is the styling for typesetting LaTeX properly. */
.latex {
    letter-spacing : -0.225em; 
}

.latex .A {
    position : relative;
    top : -0.55ex;
    left : -0.3em;
    font-size : 75%;
}

.tex {
    position : relative;
    letter-spacing : -0.225em;
    margin-left : -0.25em;
}

.tex .E {
    position : relative;
    top : 0.65ex;
    left : -0.25ex;
}

.tex .X {
    position : relative;
    left : -0.25ex;
}
