/* NAVIGATION */

/* This div contains the list that serves as the navigation menu. */
#navigation {
    position : relative;
    height : 24pt;
}

@media (max-width : 400px) {
  #navigation {
    height : 16.5pt;
  }
}

@media (min-width : 400px) and (max-width : 605px) {
  #navigation {
    height : 20.5pt;
  }
}

/* This div makes the background of the navigation menu. */
#navigation > div {
    position : relative;
    height : 70%;
    margin-left : 0;
    width : 55%;
    min-width : 29em;
    background-color : #B3C8E5;
}

@media (min-width : 400px) and (max-width : 605px) {
  #navigation > div {
    min-width : 400px;
  }
}

/* This list is the actual navigation menu--each item is a link. */
#navigation ul {
    margin-right : 7px;
    top : 2px;
    margin-bottom : -20px;
    float : right;
}

@media (max-width : 605px) {
  #navigation ul {
    margin-left : auto;
    margin-right : auto;
  }
}

.navigation ul {
    position : relative;
    list-style : none;
}

@media (max-width : 400px) {
  #navigation ul {
    float : left;
  }
}

/* This controls the individual navigation items. It is best to only have one
   word in each navigation item. */
.navigation li {
    position : relative;
    top : -3px;
    display : block;
    float : left;
    margin-left : 0.5em;
    margin-bottom : 10px;
    padding-left : 2px;
    padding-bottom : 4px;
    border-left : 3px solid #0B4FAA;
    font-weight : normal;
    font-size : 20pt;
    font-family : Aller, Verdana, Arial, Helvetica, sans-serif;
}

@media (max-width : 400px) {
  .navigation li {
    font-size : 15pt;
  }

  .navigation li:first-child {
    border-left : none;
    margin-left : 0px;
  }
}

@media (min-width : 400px) and (max-width : 605px) {
  .navigation li {
    font-size : 19pt;
  }
}

.navigation li:first-letter {
    color : #053d89;
}

.navigation a {
    text-decoration : none;
    color : #0b4faa;
}

.navigation a:hover {
    color : #053d89;
}

.navigation span.tpl a {
    position : relative;
    top : -2px;
    font-weight : 900;
    font-family : megrim, Verdana, Arial, Helvetica, sans-serif;
    /* font-family : Verdana, Arial, Helvetica, sans-serif; */
    font-size : 21pt;
}

/* This is the div at the very bottom of the page. */
#footer {
    color : black;
    margin-top : 4pt;
    padding-top : 2pt;
    padding-bottom : 2pt;
}
