/* CSS Document */

/* Color Scheme 
 *
 * base: #B3C8E5
 * h1:   #052d69
 * h2:   #990000
 * h3:   #380A7D
 */  

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    border: none;
}
td.lineNumbers {
    border-right: 1px solid #AAAAAA;
    text-align: right;
    color: #AAAAAA;
    padding-right: 5px;
    padding-left: 5px;
}
td.sourceCode { padding-left: 5px; }
nnn
pre.sourceCode {
    color : black;
    font-family : DejaVu Sans Mono, monospace;
    font-size : 11pt;
}

pre.sourceCode span.kw { color: #052d69; font-weight : bold }
pre.sourceCode span.dt { color: #990000; }
pre.sourceCode span.dv { color: black; }
pre.sourceCode span.bn { color: black; }
pre.sourceCode span.fl { color: black; }
pre.sourceCode span.ch { color: black; }
pre.sourceCode span.st { color: black; }
pre.sourceCode span.co { color: #078600; font-style: italic; }
pre.sourceCode span.ot { color: #0028AA; }
pre.sourceCode span.al { color: red; }
pre.sourceCode span.fu { color: #380A7D; }
pre.sourceCode span.re { }
pre.sourceCode span.er { color: red; }

/* Manual syntax highlighting for error messages */
pre.error span { padding-left: 2px; padding-right: 2px; }

pre.error span.error-heading { background: #E6D4B3; }
pre.error span.error-message { background: #DBE6B3; }
pre.error span.error-suggestion { background: #B3D8E6; }
pre.error span.error-location { background: #E6B9B3; }
