/* CSS Document */
#container {
    position : relative;
    margin-left : auto;
    margin-right : auto;
    padding : 2px;
    padding-left : 4px;
}

#container textarea {
    position : relative;
    width : 90%;
    margin-left : 5%;
    margin-right : 5%;
    height : 300px;
}

.output {
    position : relative;
    top : -400px;
    border-color : black;
    border-width : 1px;
    border-style : solid;
    margin-top : 5px;
    margin-left : auto;
    margin-right : auto;
    width : 400px;
    height : 420px;
    cursor : pointer;
}

.output canvas {
    margin-left : auto;
    margin-right : auto;
}

pre {
    color : black;
    width : 90%;
    margin-left : 5%;
    margin-right : 5%;
    border : 1px solid #039;
}

#help {
    position : relative;
}

#help span.hide {
    position : absolute;
    top : 10pt;
    float : left;
}