div#projects {
    position : relative;
    width : 55%;
    float : right;
    height : 15px;
    padding-left : 0;
}

div#projects ul {
    float : left;
    padding-left : 1px;
    margin-left : 0px;
}

div#after-projects {
    margin-top : 40px;
}
