<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- This was created with a Hakyll scrip written by Tikhon Jelvis -->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <title> $title$ </title>

    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/hide.js" type="text/javascript"></script>
    <script src="/js/code-highlighting.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/navigation.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

    <link rel="shortcut icon" href="/favicon.ico" />

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" />

    $imports$
  </head>

  <body>
    <div id="top">
      <div id="header">
        <div>
          <div id="headerBackground">
            <img src="/img/blueHeader.png" alt="Tikhon Jelvis" />
          </div>
        </div>
      </div>

      <div id="navigation">
        <div class="navigation">
          <ul>
            <li>
              <a href="/"> About </a>
            </li>
            <li>
              <a href="/projects.html"> Projects </a>
            </li>
            <li>
              <a href="https://github.com/TikhonJelvis" title="My Projects"> GitHub </a>
            </li>
            <li>
              <a href="http://careers.stackoverflow.com/tikhonjelvis"> R‌ésumé </a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    $body$
    
    <div class="content" id="footer">
      <a href="http://validator.w3.org/check?uri=referer">
        <img src="http://www.w3.org/Icons/valid-xhtml11-blue"
             alt="Valid XHTML 1.0 Strict" height="31" width="88" />
      </a>
      <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">
        <img style="border:0;width:88px;height:31px"
             src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
             alt="Valid CSS!" />
      </a>
    </div>
  </body>

</html>
