<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
      "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <!-- This was created with a Hakyll scrip written by Tikhon Jelvis -->
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

  <head>
    <title> $title$ </title>

    <script src="/js/jquery.js"></script>
    <script src="/js/hide.js"></script>
    <script src="/js/code-highlighting.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/code-highlighting.css" />

    <link rel="shortcut icon" href="/favicon.ico" />

    $includes$
  </head>

  <body>
    <div id="top">
      <div id="header">
        <div>
          <div id="headerBackground">
            <img src="/img/blueHeader.png" alt="Tikhon Jelvis" />
          </div>
        </div>
      </div>

      <div id="navigation">
        <div class="navigation">
          <ul>
            <li>
              <a href="/"> About </a>
            </li>
            <li>
              <a href="/projects.html"> Projects </a>
            </li>
            <li>
              <a href="https://github.com/TikhonJelvis" title="My Projects"> GitHub </a>
            </li>
            <li>
              <a href="http://careers.stackoverflow.com/tikhonjelvis"> R‌ésumé </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    $body$
  </body>

</html>
